@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/Content/format.css" />
    <title>FashionInfo</title>
</head>
<body>
    @RenderBody()
    <div id="banner">
        <div class="image">
            <a href="~TrangChu/Index"><img src="~/image/Home.jpg" /></a>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm sản phẩm" />
            <button title="Tìm kiếm" type="submit" style="cursor:pointer"> <img src="~/image/find.png" /></button>
        </div>
        <div class="regester">
            <ul>
                <li><a href="~/Regester/Login"> Đăng nhập</a></li>
                <li><a href="~/Regester/Index">Đăng kí</a></li>
            </ul>
        </div>
        <div class="basket">
            <a href="#"><img src="~/image/basket.png" alt="Giỏ hàng" /></a>
        </div>
    </div>
    <!--End banner-->
    <div id="head">
        <div class="phone">
            <img src="~/image/phone.png" />
            <span> Hỗ trợ đặt hàng nhanh:  </span>
            <span style="color:red"> &nbsp;0344359333</span>
        </div>
        <div class="connect">
            <span>Liên hệ &nbsp; </span> <span><a href="https://www.facebook.com/duong.tritue.9" target="_blank"><img src="~/image/Facebook.png" /></a></span>
            <span><a href="https://www.instagram.com/_tri.tue98/?hl=en" target="_blank"><img src="~/image/Instagram.png" /></a></span>
            <span>|</span>
            <span> <a href="#"> Thông báo</a> </span> <span><a href="#"><img src="~/image/notice.png" /></a></span>
            <span>|</span>
            <span><a href="https://help.shopee.vn/vn/s/" target="_blank"> Trợ giúp</a></span>
            <span> <a href="https://help.shopee.vn/vn/s/" target="_blank"><img src="~/image/help.png" /></a></span>
        </div>
    </div>
    <!--End Head-->
    <div id="title">
        <ul>
            <li>
                <a href="#">THỜI TRANG NAM</a>
                <ul>
                    <li><a href="#">Quần Jean</a> </li>
                    <li><a href="#">Quần short</a> </li>
                    <li><a href="#">Áo sơ mi</a></li>
                    <li><a href="#">Áo thun</a></li>
                </ul>
            </li>
            <!--thời trang nữ-->
            <li>
                <a href="#">THỜI TRANG NỮ</a>
                <ul>
                    <li> <a href="#">Quần Jean</a> </li>
                    <li><a href="#">Quần short</a> </li>
                    <li><a href="#">Áo sơ mi</a></li>
                    <li><a href="#">Áo thun</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--End title-->

    <div id="login" >
       <span>Các trang của footerr</span>

    </div>
    <div id="footer">
        <div class="address">
            <h3>FASHION</h3>

            <span>Fashion chuyên bán các loại sản phẩm quần áo thời trang  online với hàng ngàn mẫu mã để quý khách lựa chọn.</span><br />
            <span> Hãy đặt hàng online để được hưởng nhiều ưu đãi hơn.</span><br />
            <span> Chọn mua ngay các mẫu quần áo thời trang mới nhất 2019, hàng đẹp giá cực tốt.</span><br />


            <span><img src="~/image/shop.png" /></span>
            <span>Nhà 23/6, Đường 12, khu phố 2, phường Linh Chiểu, Quận Thủ Đức, To.HCM</span> <br />

            <span> <img src="~/image/phone.png" /> </span>
            <span>ĐT: 0383592126</span> <br />

            <span><img src="~/image/time.png" /></span>
            <span>Giờ mở cửa: T2 - T7: 8h00 - 21h30; CN: 9h00 - 17h30</span><br />

            <span><img src="~/image/phone.png" /></span>
            <span>Hotline: 0344359333</span><br />
        </div>

        <div class="policy">
            <h3>CHÍNH SÁCH BÁN HÀNG</h3>
            <ul>
                <li><a href="#"> Thông tin về cửa hàng</a></li>
                <li><a href="#"> Phương thức thanh toán </a></li>
                <li><a href="#"> Phương thức vận chuyển</a></li>                
                <li><a href="#"> Địa chỉ shop FASHION</a></li>

            </ul>
        </div>
        <div class="acount">
            <h3>TÀI KHOẢN</h3>
            <ul>
                <li><a href="~/Regester/Login">Đăng nhập</a></li>
                <li><a href="~/Regester/Index">Đăng kí tài khoản</a></li>
            </ul>
        </div>
    </div>
    <!--End footer-->
</body>
</html>
