@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/Content/format.css" />
    <title>Sản phẩm</title>
</head>
<body>

    <div id="banner">
        <div class="image">
            <a href="#"><img src="~/image/Home.jpg" /></a>
        </div>
        <div class="chu">
           <span>TRANG QUẢN LÍ</span>
        </div>
    </div>
    <!--End banner-->
  
    
   
    <div id="san_pham">
        đây là phần thêm sp 
        </div>
    <!--End content-->
    <div id="footer">
        <div class="address">
            <h3>FASHION</h3>

            <span>Fashion chuyên bán các loại sản phẩm quần áo thời trang  online với hàng ngàn mẫu mã để quý khách lựa chọn.</span><br />
            <span> Hãy đặt hàng online để được hưởng nhiều ưu đãi hơn.</span><br />
            <span> Chọn mua ngay các mẫu quần áo thời trang mới nhất 2019, hàng đẹp giá cực tốt.</span><br />


            <span><img src="~/image/shop.png" /></span>
            <span>Nhà 23/6, Đường 12, khu phố 2, phường Linh Chiểu, Quận Thủ Đức, To.HCM</span> <br />

            <span> <img src="~/image/phone.png" /> </span>
            <span>ĐT: 0383592126</span> <br />

            <span><img src="~/image/time.png" /></span>
            <span>Giờ mở cửa: T2 - T7: 8h00 - 21h30; CN: 9h00 - 17h30</span><br />

            <span><img src="~/image/phone.png" /></span>
            <span>Hotline: 0344359333</span><br />
        </div>



    </div>
    <!--End footer-->


</body>
</html>

